ion-card{
    // border:1px solid var(--ion-color-primary);
    border-radius:10px;
    box-shadow: 1px 1px 2px 1px black;
    margin: 2vh 1vh;
    div{
        margin: 0.5vh 0 0.8vh 1vh;

        ion-row{
            width: 85%;
            float: inline-end;
            ion-col{
                div{
                    ion-label{
                        font-size: 0.75rem;
                    }

                    p{
                        font-size: 0.80rem;
                        font-weight: bold;
                        margin: 8px 0 0 0;
                    }
                }
            }
        }
    }
}
