<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Renew</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/members"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-select
        [(ngModel)]="user.trainingType"
          interface="popover"
          toggleIcon="add"
          expandedIcon="remove"
          placeholder="Batch Type">
         @for(trainingType of trainingTypes(); track $index){
          <ion-select-option [value]="trainingType.id">{{trainingType.trainingType}}</ion-select-option>
         }
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Batch Time
          <ion-radio-group [(ngModel)]="userBatch.batchName">
            <ion-item lines="none">
              <div style="width: 100%;">
              <div style="width: 92%;"><ion-radio value="Morning Batch">Morning Batch</ion-radio></div>
              <div style="width: 92%;"><ion-radio value="Evening Batch">Evening Batch</ion-radio></div>
            </div>
            </ion-item>
          </ion-radio-group>
        </ion-label>
      </ion-item>
  
      @if(userBatch.batchName!==''){
        <ion-item>
          <ion-select
          [(ngModel)]="userBatch.batchTime"
            interface="popover"
            toggleIcon="add"
            expandedIcon="remove"
            aria-label="time"
            placeholder="Batch Time">
           @for(time of (userBatch.batchName=='Evening Batch'?eveningBatchTime:morningBatchTime); track $index){
            <ion-select-option [value]="time">{{time}}</ion-select-option>
           }
          </ion-select>
        </ion-item>
      }
      
      <ion-item lines="none">
        <ion-label>Packages
            <ion-card>
              <ion-row>
                <ion-col size="4">Plan</ion-col>
              </ion-row>
              <ion-radio-group [(ngModel)]="package">
              @for(package of packages(); track $index){
                <ion-radio [value]="package">
                <ion-row style="width: 100%;">
                  <ion-col size="4">{{package.plan}}</ion-col>
                </ion-row>
              </ion-radio>
              }
            </ion-radio-group>
            @if(package!=null){
              <ion-item>
                <ion-label>
                  <ion-row>
                    <ion-col size="6">Amount</ion-col>
                    <ion-col size="6">Discount</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">{{package.totalAmount}}</ion-col>
                    <ion-col size="6">{{package.discount}}</ion-col>
                  </ion-row>
                </ion-label>
              </ion-item>
            }
            </ion-card>
        </ion-label>
      </ion-item>
            
      <ion-item>
        <ion-input label="Paid Amount" [(ngModel)]="userBatch.paid" type="number" labelPlacement="floating"></ion-input>
      </ion-item>
      
      <ion-button expand="block" (click)="submit()">Submit</ion-button>
    </ion-list>
  </ion-card>
</ion-content>
